/* Inicio Actividad 2 */

/* Estilo general */
body {
    background: #191919; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    margin: 0; /* Elimina margen predeterminado */
}

/* Banner principal */
#banner {
    background: url('img/banner.png') center/cover;
    text-align: center;
    color: #fff;
    padding: 0;
}

/* Menú horizontal */
.horizontal-menu {
    list-style: none;
    padding: 40px 0;
    text-align: center;
    background: #333; /* Fondo gris oscuro */
}

.horizontal-menu li {
    display: inline;
    margin-right: 20px;
}

.horizontal-menu a {
    text-decoration: none;
    color: #fff;
    font: bold 2em Arial, sans-serif;
    padding: 20px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.horizontal-menu a:hover {
    background: #0074e4; /* Fondo azul al pasar el mouse */
}

/* Títulos de sección */
section h2 {
    color: #fff;
    font: 2em Arial, sans-serif;
    margin: 20px 0;
    text-align: center;
}

/* Elementos de historia, misión y visión */
.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about {
    flex: 1;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 5px;
    margin: 10px;
}

.about h3 {
    font: 1.5em Arial, sans-serif;
    color: #fff;
}

/* Sección de Servicios */
#servicios {
    background: #333;
    padding: 40px 0;
    text-align: center;
}

/* Títulos de servicios */
#servicios h3 {
    color: #fff;
    font: 1.5em Arial, sans-serif;
    margin: 20px 0;
}

/* Contenedores de servicios */
.service {
    flex: 1;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

/* Texto dentro de los contenedores de servicios */
.service p {
    color: #fff;
    font: 1em Arial, sans-serif;
}

/* Secciones de Contáctenos y Solicitud de servicio */
#contacto, #solicitud-servicio {
    background: #333;
    padding: 40px 0;
    text-align: center;
}

/* Títulos de sección en Contáctenos y Solicitud de servicio */
#contacto h2, #solicitud-servicio h2 {
    color: #fff;
    font: 2em Arial, sans-serif;
    margin: 20px 0;
}

/* Contenedores en Contáctenos y Solicitud de servicio */
#contacto .about, #solicitud-servicio .about {
    flex: 1;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

/* Texto dentro de los contenedores en Contáctenos y Solicitud de servicio */
#contacto .about p, #solicitud-servicio .about p {
    color: #fff;
    font: 1em Arial, sans-serif;
}
/* Fin actividad 2 */



/* Inicio actividad 4 */

/* Estilos para el formulario */

/* Estilo para el formulario en "Solicitud de Servicio" */
#solicitud-servicio .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; /* Agrega un margen alrededor del formulario */
    padding: 10px; /* Agrega relleno alrededor del formulario */
    border-radius: 10px; /* Agrega un borde redondeado al formulario */
    align-items: stretch;
    background: rgba(0, 0, 0, 0.7);
}

#solicitud-servicio .form-group {
    margin: 10px 0;
    text-align: center;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    text-align: center;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #0074e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-buttons button:hover {
    background: #005ba6;
}

/* Estilos para el enlace "Enviar datos" y el botón "Cancelar" */
.form-buttons a,
.form-buttons button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background: #0074e4;
    color: #fff;
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.form-buttons a:hover,
.form-buttons button:hover {
    background: #005ba6;
}



/* Estilos para la tabla en "solicitud.html" */
#table-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 0 10px #ccc;
}

table {
    width: 100%;
}

th {
    text-align: left;
    font-weight: bold;
}

td {
    padding: 8px;
}

/* Estilo para el título "Solicitud de Servicio" */
h2 {
    text-align: center;
    color: #0074e4; 
    font-size: 40px;
}

/* Fin actividad 4 */